<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Clone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/jpg" href="/image/images.png">
</head>

<body>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"
        style="width: 300px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"><i
                    class="bi bi-youtube text-danger p-2 fw-bold"></i>YouTube</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a href="index.html" class="nav-link fw-bold gap-2 d-flex"><i class="bi bi-house-door-fill"
                            style="font-size: 1rem;"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><i class="bi bi-music-note-list"
                            style="font-size: 1rem;"></i>shorts</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><i class='bx bxs-videos'
                            style="font-size: 1rem;"></i>Subscriptions</a>
                </li>
                <li>
                    <h5>You > </h5>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><i class='bx bx-history'
                            style="font-size: 1.5rem;"></i>History</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><i class='bx bxs-playlist'
                            style="font-size: 1.5rem;"></i>Play
                        lists</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><i class='bx bx-movie-play'
                            style="font-size: 1.5rem;"></i>Video
                        play</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><i class="bi bi-stopwatch"
                            style="font-size: 1.5rem;"></i>Watch
                        later</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><i class='bx bx-like' style="font-size: 1.5rem;"></i>Like
                        videos</a>
                </li>
                <li>
                    <h5>Subscribtions</h5>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><img
                            src="https://yt3.ggpht.com/ytc/AIdro_khn9vxrzaAyrwaUXCVgWhIVQEgWqhmcigl4QG1ghTmj54=s88-c-k-c0x00ffffff-no-rj"
                            alt="" style="width: 35px;margin-top: -5px;"> Vannda Official</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><img
                            src="https://yt3.ggpht.com/ytc/AIdro_khn9vxrzaAyrwaUXCVgWhIVQEgWqhmcigl4QG1ghTmj54=s88-c-k-c0x00ffffff-no-rj"
                            alt="" style="width: 35px;margin-top: -5px;"> Vannda Official</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><img
                            src="https://yt3.ggpht.com/ytc/AIdro_khn9vxrzaAyrwaUXCVgWhIVQEgWqhmcigl4QG1ghTmj54=s88-c-k-c0x00ffffff-no-rj"
                            alt="" style="width: 35px;margin-top: -5px;"> Vannda Official</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-2 d-flex"><img
                            src="https://yt3.ggpht.com/ytc/AIdro_khn9vxrzaAyrwaUXCVgWhIVQEgWqhmcigl4QG1ghTmj54=s88-c-k-c0x00ffffff-no-rj"
                            alt="" style="width: 35px;margin-top: -5px;"> Vannda Official</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-4 d-flex"><i class='bx bx-menu fs-3'></i>All subscribtions</a>
                </li>
                <li>
                    <h5>Explor</h5>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-4 d-flex"><i class="bi bi-fire "></i>All subscribtions</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-4 d-flex"><i class="bi bi-music-note-beamed"></i>Music</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-4 d-flex"><i class="bi bi-controller"></i>gamming</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link gap-4 d-flex"><i class="bi bi-trophy"></i>Sports</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- navbar -->
    <nav class="navbar  navbar-light bg-light sticky-top" id="navbar">
        <div class="container-fluid">

            <div class="container-noneNav">
                <div class="container-nav d-flex align-items-center">
                    <div class="container-btn">
                        <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                            style="border: none;outline: none;">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div>
                        <a class="navbar-brand align-items-center d-flex gap-2 fw-bold" href="#">
                            <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-06-512.png"
                                alt="" style="width: 35px;">

                            YouTube</a>
                    </div>
                </div>
            </div>

            <div class="container align-items-center" id="container-input" role="search">
                <div class="container-concel-search">
                    <div class="container-concel">
                        <i class='bx bx-left-arrow-alt'></i>
                    </div>
                </div>
                <div class="volumn​​ d-flex w-100">
                    <div class="search-container d-flex position-relative w-100 me-2">
                        <input type="text" class="form-control rounded-pill w-100" placeholder="Search">
                        <button class="btn search-button position-absolute end-0 me-2" type="submit"><i
                                class="bi bi-search"></i></button>
                    </div>
                    <div class="voice justify-content-center align-items-center">
                        <button class="mic-button">
                            <i class="bi bi-mic-fill text-dark"></i>
                        </button>
                    </div>
                </div>
            </div>




            <div class="containerNoneAll" id="containerNone">
                <div class="container-right d-flex gap-2">
                    <div class="container-icon-search">
                        <i class="bi bi-search"></i>
                    </div>
                    <div class="create d-flex justify-content-center align-items-center">
                        <button type="text" class="form-control rounded-pill d-flex align-items-center me-3"><i
                                class='bx bx-plus fs-3'></i>Create</button>
                        <button type="text" class="noti position-relative"
                            style="outline: none;border: none;border-radius: 50%;"><i class="bi bi-bell fs-4"></i> <span
                                class="position-absolute fw-bold text-white rounded-5"
                                style="font-size: 12px; width: 25px; background-color: red; right: -5%; display: inline-flex; justify-content: center; align-content: center;">9+</span></button>
                        <img src="https://yt3.ggpht.com/bgEwIZpfi77qmP24qECJkllbWr1WWJ1Gtic4OFU0SQeqeeDdUNgMMn164a2L6YPNunRNstQ=s48-c-k-c0x00ffffff-no-rj"
                            class="rounded-circle" alt="" style="width: 35px;margin-left:10px;" data-bs-toggle="modal"
                            data-bs-target="#modal">
                    </div>
                </div>
            </div>
    </nav>
    <div class="modal fade" id="modal">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <div class="modal-body p-5 p-sm-0">
                    <div class="container">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                        <div class="row">
                            <div class="col overflow-y-scroll w-100 vh-100" id="scroll">
                                <div class="list-group" id="itemScroll">
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <img src="https://yt3.ggpht.com/bgEwIZpfi77qmP24qECJkllbWr1WWJ1Gtic4OFU0SQeqeeDdUNgMMn164a2L6YPNunRNstQ=s48-c-k-c0x00ffffff-no-rj"
                                            alt="" class="rounded-circle">
                                        <div class="list-item d-flex flex-column">
                                            <span>demey</span>
                                            <span>@demey-u9x</span>
                                        </div>
                                        <a href="" class="text-decoration-none">View your channel</a>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action ">
                                        <span class="icon"><i class="material-icons">person</i></span> Google
                                        Account
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">switch_account</i></span>
                                        Switch account
                                        <span class="float-right">&gt;</span> </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">logout</i></span> Sign out
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">videocam</i></span> YouTube
                                        Studio
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">attach_money</i></span>
                                        Purchases and memberships
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">info</i></span> Your data
                                        in YouTube
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">brightness_4</i></span>
                                        Appearance: Device theme
                                        <span class="float-right">&gt;</span> </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">translate</i></span>
                                        Language: English
                                        <span class="float-right">&gt;</span> </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">security</i></span>
                                        Restricted Mode: Off
                                        <span class="float-right">&gt;</span> </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">location_on</i></span>
                                        Location: Cambodia
                                        <span class="float-right">&gt;</span> </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">keyboard</i></span>
                                        Keyboard shortcuts
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">settings</i></span>
                                        Settings
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">help</i></span> Help
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="icon"><i class="material-icons">feedback</i></span> Send
                                        feedback
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-breakpoint">
        <div class="row">
            <div class="col-2">
                <div class="row position-fixed p-2">
                    <div class="nav-item">
                        <a href="../index.html" class="nav-link  mt-4  gap-2 d-flex flex-column"
                            style="font-size: 12px;"><i class="bi bi-house fs-2 "></i>Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link  mt-4 gap-2 d-flex flex-column" style="font-size: 12px;"> <i
                                class='bx bxs-videos  fs-2'></i>Shorts</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link  mt-4 gap-2 d-flex flex-column" style="font-size: 12px;"><i
                                class="bi bi-file-play  fs-2"></i>Subscribe</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link  mt-4 gap-2 d-flex flex-column" style="font-size: 12px;"><i
                                class="bi bi-person-circle  fs-2"></i>You</a>
                    </div>


                </div>
            </div>
            <div class="container-fluid">
                <div class="row d-flex justify-content-center flex-column align-content-center">
                    <div class="col-10 mt-4 gap-2  overflow-y-scroll w-100 vh-100" id="scroll">
                        <div class=" video d-flex justify-content-center align-content-center" id="itemScroll">
                            <iframe width="500" height="820"
                                src="https://www.youtube.com/embed/f7Wfk4Cu1AA?si=ZzO8mVJGFN6Rbkjl"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="box-i d-flex flex-column position-fixed top-50 end-0  translate-middle">
                                <i class='bx bxs-like fs-1 mt-4'></i>
                                <span>200K</span>
                                <i class='bx bxs-dislike fs-1 mt-4'></i>
                                <span>1.2K</span>
                                <i class='bx bxs-comment-detail fs-1 mt-3'></i>
                                <span>1.435</span>
                                <i class='bx bxs-share fs-1 mt-3'></i>
                                <span>1.656</span>
                            </div>
                        </div>
                        <div class="video d-flex justify-content-center align-content-center mt-5" id="itemScroll">
                            <iframe width="500" height="820"
                                src="https://www.youtube.com/embed/eZpq88F3nd8?si=pXRvo7y2t1y_49Uu"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        </div>
                        <div class="video d-flex justify-content-center align-content-center mt-5" id="itemScroll">
                            <iframe width="500" height="820"
                                src="https://www.youtube.com/embed/WUhOZizWr6M?si=eGavhlUJY5jdaj1I"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        </div>
                        <div class="video d-flex justify-content-center align-content-center  mt-5" id="itemScroll">
                            <iframe width="500" height="820"
                                src="https://www.youtube.com/embed/-p5IHoJ8tYY?si=w81WaA-JToAlE_mC"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        </div>
                        <div class="video d-flex justify-content-center align-content-center  mt-5" id="itemScroll">
                            <iframe width="500" height="820"
                                src="https://www.youtube.com/embed/Ue6LaeQbS18?si=tv53yD0dYH8n_7fB"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        </div>
                        <div class="video d-flex justify-content-center align-content-center  mt-5" id="itemScroll">
                            <iframe width="500" height="820"
                                src="https://www.youtube.com/embed/z9oovW2Q33o?si=kXLNJ0Oo9TC3mVv7"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        </div>
                        <div class="video d-flex justify-content-center align-content-center  mt-5" id="itemScroll">
                            <iframe width="500" height="820"
                                src="https://www.youtube.com/embed/9AqR6eOGZCs?si=Onx0o0hNB-S4_G2N"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        </div>

                        <div class="video d-flex justify-content-center align-content-center  mt-5" id="itemScroll">
                            <iframe width="500" height="820"
                                src="https://www.youtube.com/embed/2rf0kuHgXUQ?si=eJlt05IjcZ8DrUvh"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js.js"></script>
</body>

</html>